<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Page Description">
        <title>Pocket Rentals</title>
        <link rel="stylesheet" href="/style.css">
        <script src="/script.js"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">Pocket Rentals</a></h1>
            <nav>
                <ul>
                    <li><a href="register">Register</a></li>
                    <li><a href="update">Update Profile</a></li>
                    <li><a href="createListing">Create Listing</a></li>
                    <li><a href="chooseListingUpdate">Update Listing</a></li>
                </ul>
            </nav>
            <h2>Dashboard</h2>
        </header>
        <p>You are successfully logged in!</p>

        <a href="{{url_for('logout')}}">Logout</a>

    </body>

</html>