<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Page Description">
		<title>Pocket Rentals</title>
		<link rel="stylesheet" href="/style.css">
		<script src="/script.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Pocket Rentals</a></h1>
            <h4 id='message'>{{message}}</h4>
			<nav>
				<ul>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="update">Update Profile</a></li>
                    <li><a href="createListing">Create Listing</a></li>
                    <li><a href="chooseListingUpdate">Update Listing</a></li>
				</ul>
			</nav>
		</header>
		<article>
			<h2><a href="#">Listings</a></h2>
			<p><table dir="ltr" width="500" border="1" 
                summary="purpose/structure for speech output">
        <caption>Click on the title of the related listing to access the listing page
        </caption>
        <colgroup width="50%" />
        <colgroup id="colgroup" class="colgroup" align="center" 
                valign="middle" title="title" width="1*" 
                span="2" style="background:#ddd;" />
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">price</th>
                <th scope="col">start date</th>
                <th scope="col">end date</th>
            </tr>
        </thead>
        <tfoot id="products">
            {% for product in products %}
            <tr>
                <td><a href=listing/{{ product.id }}>{{ product.title }}</a></td>
                <td>${{ product.price }}</td>
                <td>{{ product.startDate }}</td>
                <td>{{ product.endDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></p>
		</article>

    
        <article>
			<p><table dir="ltr" width="500" border="1" 
                summary="purpose/structure for speech output">
        <caption>Your Booked listings
        </caption>
        <colgroup width="50%" />
        <colgroup id="colgroup" class="colgroup" align="center" 
                valign="middle" title="title" width="1*" 
                span="2" style="background:#ddd;" />
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">start date</th>
                <th scope="col">end date</th>
            </tr>
        </thead>
        <tfoot id="products">
            {% for booking in bookings %}
            <tr>
                <td><a href=listing/{{ booking.listingId }}>listing number: {{ booking.listingId }}</a></td>
                <td>{{ booking.startDate }}</td>
                <td>{{ booking.endDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></p>
		</article>

		<footer>
			<h6>© 2050 Etc.</h6>
		</footer>
	</body>
</html>