<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>{{ listing.title }}</h1>  
        <h2>{{ listing.description }}</h2>
        <h3>price: ${{ listing.price }}</h3>
        <h4>avalible from ({{ listing.startDate }})-({{ listing.endDate }})</h4>
        <h5>listing was last modified on: {{ listing.lastModifiedDate }}</h5>

        <button><a href="/bookListing/{{ listing.id }}">book this listing</a></button>
        <button><a href="/">back</a></button>

    </main>
	<script src="index.js"></script>
  </body>
</html>