<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Page Description">
    <title>Pocket Rentals</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/">Pocket Rentals</a></h1>
      <h2>Register</h2>
    </header>
    <h4 id='message'>{{message}}</h4>
    <form method="post">
      <div class="form-group">
        <p>
        <label for="email">Email</label>
        <input class="form-control" name="email" id="email" required>
        </p>
        <p>
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name" required>
        </p>
        <p>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
        </p>
        <p>
        <label for="password">Confirm Password</label>
        <input class="form-control" type="password" name="password2" id="password2" required>
        </p>
        <p>
        <input class="btn btn-primary" type="submit" value="Register">
        </p>
      <a href='/login' class="btn btn-primary" id="btn-submit" >Login</a>
      </div>
    </form>
    </body>
</html>