{% extends 'baseUpdate.html' %}
{% block content %}
<body>
    <main>
        <h4 id='message'>{{message}}</h4>
        <form method="post">
            <div class="form-group">
                <label for="passwsord">Enter New Password:</label><br>
                <input class="form-control" name="password" id="password">
                <br>
                <label for="confPassword">Confirm New Password:</label><br>
                <input class="form-control" name="confPassword" id="confPassword">

                <input class="btn btn-primary" type="submit" value="Submit"><br>
                <button><a href="/">back</a></button>
            </div>
        </form>
    </main>
    <script src="index.js"></script>
</body>
{% endblock %}
