{% extends 'baseUpdate.html' %}
{% block content %}
<body>
    <main>
        <h4 id='message'>{{message}}</h4>
        <form method="post">
            <div class="form-group">
                <label for="currentUsername">Current Username: {{user.username}}</label><br>
                <br>
                <label for="username">Enter New Username:</label><br>
                <input class="form-control" name="username" id="username">

                <input class="btn btn-primary" type="submit" value="Submit"><br>
                <button><a href="/">back</a></button>
            </div>
        </form>
    </main>
    <script src="index.js"></script>
</body>
{% endblock %}
